body {
	background-image: url("../images/background.png");
}

.container {
	width: 66%;
	margin: 5% 18% 5% 18%;
	background-color: rgba(10,10,10,0.2);
	border: 0.1em solid gray;
	border-radius: 10px;

}

h1 {

	font-family: 'Lobster', cursive;
	text-align: center;
}
.formHeading {
	font-size: 1em;
	text-align: left;
}

label {
	font-size: 0.9em;
	float: left;

}

.formBoxes {
	width: 80%;
	margin-left: 15%;
}

#addressInput input {
	margin-bottom: 0.25em;
}

#Address1, #Address2 {
	display: block;
	width: 68%;
}

#Address3 {
	width: 25%;
	display: inline-block;
}

#Address4, #Address5 {
	width: 20%;
	display: inline-block;
}

.resizeable {
	width: 68%;
	height: 100px;
}

.submitBtn {
	margin: 2em 2em 0 0.5em;
	width: 15%;
}

.btn {
	margin-left: 9em;
}
/*clearfix code below*/

.clear	{
	margin-left: 1.5em;
	margin-top: 1em;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}